@import url(https://fonts.googleapis.com/css2?family=Noto+Color+Emoji);
@import url(https://fonts.googleapis.com/css2?family=Noto+Emoji);

body {
	margin: 0;
	user-select: none;
}

body::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}

.scrabble {
	background-color: #E5A75A;
	background-image: repeating-linear-gradient(36deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.2) 1px, transparent 0px, transparent 2px);
	background-size: 200px 200px;
}

.redcheckerboard::before {
	background-image: url(images/redcheckerboard.png);
}

.wood::before {
	background-image: url(images/pine5.jpg); /* pine5 by zaphad1, https://www.flickr.com/photos/25797459@N06/20973755589, CC by 2.0 */
}

.beach::before {
	filter: sepia(1);
}

.chestnut::before {
	filter: hue-rotate(-16deg) saturate(1.75) brightness(70%);
}

.maple::before {
	filter: hue-rotate(-8deg) saturate(5) sepia(1) saturate(1.7) brightness(130%);
}

.mahogany::before {
	filter: hue-rotate(-30deg) saturate(7) brightness(40%);
}

.cherry::before {
	filter: hue-rotate(-22deg) saturate(4) brightness(45%);
}

.linen::before {
	background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, .5), rgba(255,255,255, 1) 1px, transparent 1px, transparent 10px);
	background-size: 6px 6px;
}

.undyed::before {
	background-color: #F9EBD1;
}

.blue-dyed::before {
	background-color: #7FC9FF;
}

.pink-dyed::before {
	background-color: #FFA3A6;
}

#small-game-name {
	padding-left: 35px;
	font-size: 20px;
}

#close-log {
	top: 2px;
	right: 18px;
}

#close-deeds {
	top: 2px;
	right: 2px;
}

#close-manage {
	top: 2px;
	right: 2px;
}

#close-trade {
	top: 2px;
	right: 2px;
}

.close-button {
	position: absolute;
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	display: block;
	color: white;
	text-decoration: none;
	border-radius: 3px;
	font-family: 'Noto Color Emoji';
}

.close-button:link, .close-button:visited {
  background-color: #f44336;
}

.close-button:hover, .close-button:active {
  background-color: red;
}

#small-hat {
	position: absolute;
	top: 12px;
	right: 110px;
	width: 20px;
	height: 20px;
	font-size: 20px;
}

#right-container {
	position: relative;
	width: 200px;
	height: 700px;
	display: none;
}

#moneybar {
	position: absolute;
	top: 0;
	left: 0;
	border: 0px solid black;
	background-color: white;
	margin: 15px;
	border-radius: 5px;
	cursor: default;
	user-select: none;
}

#moneybar table {
	font-weight: bold;
	border-spacing: 1px;
}

#propertystats {
	margin-right: 110px;
}

#refresh {
	display: none;
	margin: 15px;
}

#noF5 {
	display: none;
}

#noscript {
	margin-left: 10px;
}

#setup {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

#log {
	display: none;
	position: absolute;
	user-select: text;
}

#deeds {
	display: none;
	position: absolute;
	background-color: white;
}

#manage {
	display:none;
	position: absolute;
	background-color: white;
}

#trade {
	display:none;
	position: absolute;
}

#layout-table {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	border-spacing: 0;
}

#board-sizer {
	position: relative;
	height: 932px;
	width: 932px;
	overflow: hidden;
	margin: auto;
}

#board-container {
	position: relative;
	height: 932px;
	width: 932px;
}

#board-margin {
	position: absolute;
	margin: 25px;
	width: 882px;
	height: 882px;
}

#board {
	border: 10px solid #32B9DB;
	border-collapse: collapse;
	width: 862px;
	height: 862px;
	table-layout: fixed;
	background-color: white;
	font-size: 11.5px;
	font-family: arial, sans-serif;
}

#board td {
	border: 1px solid black;
	text-align: center;
}

.jail {
	border: 1px solid black;
	height: 65px;
	width: 65px;
	position: absolute;
	top: -1px;
	right: -1px;
	position: absolute;
	overflow : hidden;
}

#setup {
	display: none;
	position: absolute;
	height: 580px;
	width: 580px;
	border: 2px solid black;
	padding: 10px;
	background-color: white;
	overflow-y: auto;
}

#setup p {
	margin: 15px;
	text-indent: -15px;
}

#control {
	position: absolute;
	height: 530px;
	width: 580px;
	border: 2px solid black;
	padding: 10px;
	display: none;
	background-color: white;
}

#control td {
	vertical-align: top;
	border: none;
}

#quickstats {
	font-size: 12px;
	font-weight: bold;
	font-family: arial, sans-serif;
	border: 2px solid blue;
	margin: 5px;
	padding: 3px;
	width: 80px;
	display: none;
}

#pname {
	background-color: white;
}

#log {
	overflow:none;
	width: 420px;
	height: 500px;
	text-align: left;
}

#deeds {
	overflow:none;
	width: 420px;
	height: 500px;
	border: 1px solid gray;
	text-align: left;
}

#prev-deed {
	position: absolute;
	top: 100px;
	left: 10px;
	text-align: left;
	font-size: 30px;
	font-family: 'Noto Emoji';
}

#next-deed {
	position: absolute;
	top: 100px;
	right: 10px;
	text-align: right;
	font-size: 30px;
	font-family: 'Noto Emoji';
}

#landed {
	padding-left: 1px;
	border: 1px solid gray;
	border-top: none;
	width: 420px;
	margin: 0px;
	text-align: center;
	overflow-y: auto;
}

#alert {
	width: 100%;
	height: 100%;
	border: 1px solid gray;
	font-family: Consolas, "Courier New", monospace;
	font-size: 13px;
	background-color: #FFFFFF;
	overflow-y: scroll;
}

#manage {
	width: 420px;
	height: 500px;
	border: 1px solid gray;
	display: none;
}

#option {
	border-bottom: 1px solid gray;
	background-color: white;
	display: none;
	background: white;
	vertical-align: middle;
	padding: 3px;
	text-align: center;
	min-height: 26px;
}

#buildings {
	margin: auto;
	height: 21px;
	font-size: 16px;
	font-weight: bold;
}

#buildings .house {
	width: 25px;
	height: 19px;
	vertical-align: top;
	float: none;
}

#buildings .hotel {
	width: 26px;
	height: 19px;
	vertical-align: top;
	float: none;
}

#owned {
	padding: 3px 0px;
	background-color: white;
	text-align: center;
	max-height: 390px;
	overflow-y: auto;
}

#owned .propertycellname {
	vertical-align: top;
}

#property {
	margin-right: 1px;
	background: white;
}

#trade {
	border: 1px solid gray;
	display: none;
	width: 420px;
	height: 500px;
	background-color: white;
	overflow-y: auto;
}

#trade-leftp-name {
	font-size: 13px;
	font-weight: bold;
}

#trade-leftp-name option {
	font-size: 13px;
	font-weight: normal;
}

#trade-rightp-name {
	font-size: 13px;
	font-weight: bold;
}

#trade-rightp-name option {
	font-size: 13px;
	font-weight: normal;
}

#trade-leftp-money {
	width: 100px;
}

#trade-rightp-money {
	width: 100px;
}

#trade-leftp-property {
	max-height: 400px;
	overflow-y: auto;
}

#trade-rightp-property {
	max-height: 400px;
	overflow-y: auto;
}

#trade-action-border {
	border: 5px solid red;
	border-radius: 10px;
	padding: 8px;
}

#bid-action-border {
	border: 5px solid red;
	border-radius: 10px;
	padding: 8px;
	margin-top: 10px;
}

#deedcolor {
	background: white;
	width: 100%;
	height: 48px;
}

#deedname {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
	background-color: white;
}

#sound-control {
	position:absolute;
	top:180px;
	left:680px;
	width: 50px;
	height: 50px;
	font-size: 50px;
	text-align: left;
}

#sound-on {
	margin-left: 4px;
}

#menu {
	display: none;
}

#menutable {
	position: absolute;
	top:  122px;
	left: 122px;
	width: 638px;
	height: 36px;
	font-size: large;
	
	padding: 0px;
	text-align: left;
	font-family: arial, sans-serif;
	color: white;
	font-weight: bold;
	margin: 0px;
	background-image: linear-gradient(#4686EC, #2241B4);
	overflow: hidden;
}

#menutable td {
	vertical-align: top;
	color: #FFFFFF;
}

#menu a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
	padding-top: 8px;
}

.menu-item:hover {
	background-image: linear-gradient(#4685EB, #010282);
}

.menu-item {
	padding: 0px;
	border-collapse: collapse;
	text-align: center;
	display: table-cell;
	border-right: 2px solid white;
	height: 30px;
	min-width: 90px;
	width: 90px;
	max-width: 90px;
	overflow: hidden;
}

.menu-item:last-child {
	border: none;
}

#popup {
	width: 300px;
	min-width: 300px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px;
	text-align: center;
	word-wrap: break-word;
	line-height: 1.5;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	display: block;
	z-index: 13;
	margin: auto;
	-webkit-user-select: none;
	user-select: none;
}

#popupwrap {
	position: absolute;
	top: 255px;
	left: 0px;
	width: 100%;
	display: none;
	background-color: transparent;
	z-index: 13;
	-webkit-user-select: none;
	user-select: none;
}

#popuptext {
	overflow-x: auto;
}

#popupclose input {
	margin: 0px;
	background-color: red;
	height: 18px;
	width: 18px;
	padding: 0px;
}

#popupbackground {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #000000;
	opacity: 0.5;
	display: none;
	z-index: 10;
}

#popupdrag {
	width: 100%;
	height: 16px;
	position: absolute;
	top: -16px;
	cursor: move;
}

#stats {
	max-width: 914px;
	min-width: 454px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px;
	text-align: center;
	word-wrap: break-word;
	line-height: 1.5;
	border: 2px solid black;
	border-radius: 10px;
	background-color: white;
	display: block;
	z-index: 17;
	margin: auto;
	position: relative;
	top: 0px;
	left: 0px;
	-webkit-user-select: none;
	user-select: none;
}

#statswrap {
	position: absolute;
	top: 250px;
	left: 0px;
	width: 100%;
	display: none;
	background-color: transparent;
	-webkit-user-select: none;
	user-select: none;
}

#statstext {
	overflow: hidden;
	min-height: 70px;
}

#statsclose {
	display: block;
	position: absolute;
	top: -24px;
	right: -25px;
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	overflow: visible;
	z-index: 17;
}

#statsbackground {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #000000;
	opacity: .5;
	display: none;
	z-index: 16;
}

#statsdrag {
	width: 100%;
	height: 16px;
	position: absolute;
	top: -16px;
	cursor: move;
}

#cardpopup {
	display: none;
	position: absolute;
	left: calc((100vw - 320px) / 2);
	top: calc((100vh - 150px) / 2);
	width: 320px;
	height: 150px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px;
	text-align: center;
	word-wrap: break-word;
	line-height: 1.5;
	border: 2px solid black;
	margin: auto;
}

.chancepopup {
	background-color: #ff7c08;
}

.communitychestpopup {
	background-color: #fff299;
}

#cardtext {
	overflow-x: auto;
}

#cardclose-bak {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 30px;
	height: 30px;
	font-size: 20px;
	border: none;
	cursor: pointer;
	overflow: visible;
}

#cardclose {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 30px;
	height: 30px;
	font-size: 36px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	border-radius: 15px;
	cursor: pointer;
	overflow: visible;
	color: white;
	background-color: black;
	transform: rotate(45deg);
}

#deed {
	display: none;
	position: fixed;
	border: 2px solid black;
	width: 235px;
	height: 285px;
	background-color: white;
	z-index: 2;
	text-align: center;
}

#deed td {
	border: none;
}

#deed-header {
	width: 215px;
	height: 48px;
	border: 1px solid black;
	margin: 9px;
	background-color: yellow;
	text-align: center;
	text-transform: uppercase;
	font-family: Calibri, Arial;
}

#deed-name {
	font-size: 15px;
	font-weight: bold;

}

#deed-table {
	margin: 9px;
	width: 217px;
	border-spacing: 1px;
}

#deed-mortgaged {
	font-family: Calibri, Arial;
	font-size: 16px;
	text-align: center;

}

#deed-mortgaged-name {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 30px 20px 20px;
}

#deed-special {
	font-family: Calibri, Arial;
	text-align: justify;
}

#deed-special-icon {
	text-align: center;
	font-size: 40px;
	font-family: 'Noto Emoji';
	margin: 10px 20px 20px;
}

#deed-special-name {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border-style: solid;
	border-width: 2px 0px;
	text-transform: uppercase;
	margin: 20px 20px 20px;
}

#deed-special-text {
	margin: 20px;
	font-size: 15px;
}

#deed-special-footer {
	margin: 0px 20px;
	width: 195px;
	position: absolute;
	bottom: 20px;
	font-size: 16px;
}

#dice {
	padding-left: 50px;
	width: 120px;
	height: 40px;
}

.die {
	display: none;
	margin: 5px;
	float: left;
}

.die-no-img {
	border-radius: 6px;
	font-weight: bold;
	border: 2px solid black;
	padding: 5px 10px;
}
.house {
	width: 25px;
	height: 19px;
	vertical-align: middle;
	float: right;
}

.hotel {
	width: 26px;
	height: 19px;
	vertical-align: middle;
	float: right;
}

.cell {
	position: relative;
	top: 0px;
	left: 0px;
	padding: 0px;
	vertical-align: bottom;
}

.board-center {
	vertical-align: center;
}

.xboard-center p {
	font-size: 60px;
}

#game-name {
	font-size: 60px;
}

#tophat {
	position: absolute;
	top: 280px;
	left: 400px;
	font-size: 80px;
	font-family: 'Noto Color Emoji';
}

.board-corner {
	width: 102px;
	height: 102px;
}

.board-top {
	width: 72px;
	height: 102px;
}

.board-bottom {
	width: 72px;
	height: 102px;
}

.board-left {
	width: 102px;
	height: 72px;
}

.board-right {
	width: 102px;
	height: 72px;
}

#enlarge {
	bottom: 15px;
	margin: 5px;
	width: 144px;
	height: 144px;
	position: absolute;
	border: 2px solid black;
	text-align: center;
	font-size: 11.5px;
	background-color: white;
}

#xenlarge {
	margin: 5px;
	width: 146px;
	height: 180px;
	display: none;
	background-color: white;
	border: 2px solid black;
	text-align: center;
	font-size: 12px;
	font-family: arial, sans-serif;
	position: absolute;
}

#enlarge-color {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
}

#enlarge-name {
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	background-color: white;
	vertical-align: middle;
	top: 40px;
	left: 0;
	width: 100%;
	height: 80px;
}

#enlarge-price {
	position: absolute;
	top: 150px;
	left: 0;
	width: 100%;
	height: 30px;
}

#enlarge-token {
	position: absolute;
	height: 45px;
	width: 140px;
}

.footprint {
	position: absolute;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	width: 50px;
	height: 50px;
	font-size: 40px;
	font-family: 'Noto Emoji';
}

.token {
	position: absolute;
	width: 37px;
	height: 37px;
}

.token div:nth-child(1) {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 37px;
	height: 37px;
	border-radius: 18.5px;
}

.token div:nth-child(1) i {
	font-size: 37px;
}

.token div:nth-child(2) {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 29px;
	height: 29px;
	border-radius: 14.5px;
}

.token div:nth-child(2) i {
	font-size: 29px;
}

.token div:nth-child(3) {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 17px;
	height: 17px;
	border-radius: 8.5px;
}

.token div:nth-child(3) i {
	font-size: 17px;
}

.orange-pawn {
	background-color: #ffa500;
}
.orange-pawn-shadow {
	background-color: #c88000;
}

.blue-pawn {
	background-color: #0000f0;
}
.blue-pawn-shadow {
	background-color: #0000a0;
}

.red-pawn {
	background-color: #f00000;
}
.red-pawn-shadow {
	background-color: #a00000;
}

.green-pawn {
	background-color: #008000;
}
.green-pawn-shadow {
	background-color: #007000;
}

.silver-pawn {
	background-color: #c0c0c0;
}
.silver-pawn-shadow {
	background-color: #b0b0b0;
}

.maroon-pawn {
	background-color: #800000;
}
.maroon-pawn-shadow {
	background-color: #640000;
}

.purple-pawn {
	background-color: #800080;
}
.purple-pawn-shadow {
	background-color: #640064;
}

.fuchsia-pawn {
	background-color: #ff00ff;
}
.fuchsia-pawn-shadow {
	background-color: #c000c0;
}

.lime-pawn {
	background-color: #00ff00;
}
.lime-pawn-shadow {
	background-color: #00c000;
}

.olive-pawn {
	background-color: #808000;
}
.olive-pawn-shadow {
	background-color: #646400;
}

.navy-pawn {
	background-color: #000080;
}
.navy-pawn-shadow {
	background-color: #000064;
}

.teal-pawn {
	background-color: #008080;
}
.teal-pawn-shadow {
	background-color: #064064;
}

.aqua-pawn {
	background-color: #00ffff;
}
.aqua-pawn-shadow {
	background-color: #00c0c0;
}

.moneybarcell {
	width: 83px;
	min-width: 83px;
}

.moneybararrowcell {
	display: inline-block;
	font-size: 50px;
	width: 50px;
	height: 30px;
	border: none;
	line-height: 50px;
	text-align: right;
	vertical-align: middle;
	padding: 0px;
}

.money-bar-arrow {
	height: 30px;
	width: 30px;
}
.propertycellcheckbox {
	width: 20px;
	height: 20px;
	border: none;
	vertical-align: middle;
}

.propertycellcolor {
	padding: 0px;
	width: 20px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: white;
}

.propertycellname {
	height: 20px;
	width: 250px;
	border: none;
	cursor: default;
	text-align: left;
	vertical-align: middle;
}

.propertycelldeed {
	width: 18px;
	height: 20px;
	border: 1px solid grey;
	cursor: pointer;
	display: none;
}

.statscellcolor {
	padding: 0px;
	width: 22px;
	height: 20px;
	border: none;
}

.statscellname {
	height: 20px;
	border: none;
	cursor: default;
	text-align: left;
	min-width: 172px;
}

.statsplayername {
	font-weight: bold;
	font-size: 24px;
}

.statscell {
	border: 2px solid black;
	padding: 8px;
	vertical-align: top;
	width: 202px;
	min-width: 115px;
}

.trade-cell {
	border: none;
	border-radius: 3px;
	width: 308px;
	height: 26px;
	vertical-align: middle;
}

.cell-anchor {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.cell-name {
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: center;
	width: 100%;
}

.cell-position-holder {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: relative;
}

.cell-position {
	height: 12px;
	width: 12px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.cell-owner {
	background-size: cover;
	display: none;
	position: absolute;
}

.board-top .cell-owner {
	background-image: url("images/hori-bar.png");
	height: 15px;
	left: 0px;
	top: -25px;
	width: 72px;
}

.board-bottom .cell-owner {
	background-image: url("images/hori-bar.png");
	bottom: -25px;
	height: 15px;
	left: 0px;
	width: 72px;
}

.board-left .cell-owner {
	background-image: url("images/vert-bar.png");
	height: 68px;
	left: -25px;
	top: 0px;
	width: 15px;

}

.board-right .cell-owner {
	background-image: url("images/vert-bar.png");
	height: 68px;
	right: -25px;
	top: 0px;
	width: 15px;
}

.dark-purple {
  background: #5e3577;
}

.light-blue {
  background: #d2eaf5;
}

.purple {
  background: #b02f7c;
}

.orange {
  background: #fa811d;
}

.red {
  background: #f50c2b;
}

.yellow {
  background: #ffed20;
}

.green {
  background: #41994e;
}

.dark-blue {
  background: #5a6dba;
}

.go-container {
	overflow: hidden;
}

.go-instructions {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 55px;
	height: 55px;
	text-align: center;
	font-size: 8px;
	transform: rotate(315deg);
}

.google-go-word {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 50px;
	font-family: "Oswald", sans-serif;
	color: #47AA53;
	transform: rotate(315deg);
}

.xgo-word {
	position: absolute;
	top: 44px;
	left: 28px;
	width: 0px;
	height: 50px;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	font-family: arial, sans-serif;
	color: #47AA53;
	transform: rotate(315deg) scale(.6,1);
}

.go-word {
	position: absolute;
	top: 48px;
	left: 20px;
	width: 0px;
	height: 50px;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	font-family: arial, sans-serif;
	color: #47AA53;
	transform: rotate(315deg) scale(.6,1);
}

.go-icon {
	position: absolute;
	font-size: 35px;
	font-family: 'Noto Color Emoji';
	transform: rotate(315deg) translate(34px,44px);
}

.go-icon2 {
	position: absolute;
	font-size: 34px;
	transform: rotate(315deg) translate(-45px,40px);
	display: none;
}

.go-arrow-bak {
	position: absolute;
	bottom: 2px;
	right: 2px;
	width: 30px;
	height: 20px;
	text-align: center;
	font-size: 30px;
	color: #47AA53;
	transform: rotate(90deg);
}

.go-arrow {
	position: absolute;
	bottom: 2px;
	right: 2px;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 60px;
	color: #47AA53;
}

.jail-just {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 102px;
	height: 20px;
	text-align: center;
	transform: translateY(-41px) rotate(90deg) translateY(41px);
}
.jail-visiting {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 102px;
	height: 20px;
	text-align: center;
}
.jail-container {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 92px;
	height: 92px;
	text-align: center;
	transform: rotate(45deg) translate(0, -22px);
}
.jail-wall-top {
	position: absolute;
	background: #fa811d;
	top: 0;
	left: 0;
	width: 100%;
	height: 30%;
}
.jail-wall-left {
	position: absolute;
	background: #fa811d;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
}
.jail-wall-right {
	position: absolute;
	background: #fa811d;
	top: 0;
	right: 0;
	width: 25%;
	height: 100%;
}
.jail-wall-bottom {
	position: absolute;
	background: #fa811d;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30%;
}
.jail-wall-top div {
	font-size: 10px;
	margin-top: 10px;
}
.jail-wall-bottom div {
	font-size: 10px;
	margin-top: 5px;
}
.jail-person {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	font-size: 50px;
	font-family: 'Noto Color Emoji';
	transform: translate(-29px, -25px);
}
.jail-window {
	position: absolute;
	top: 30%;
	left: 25%;
	width: 50%;
	height: 40%;
	border: 2px solid #080808;
	transform: translate(-2px, -2px);
}
.jail-side-bars {
	position: absolute;
	top: 30%;
	left: 37.5%;
	width: 25%;
	height: 40%;
	border: 2px solid #080808;
	transform: translate(-2px, -2px);
}
.jail-middle-bar {
	position: absolute;
	top: 30%;
	left: 50%;
	width: 0;
	height: 40%;
	border: 1px solid #080808;
	transform: translate(-2px, -2px);
}


.bonus-container {
	position: absolute;
	bottom: 2px;
	right: 2px;
	width: 70px;
	height: 70px;
	align-items: center;
	justify-content: center;
	transform: rotate(135deg);
}
.free-parking-header {
	margin-top: 6px;
	font-size: 14px;
}
.free-parking-footer {
	font-size: 14px;
}
.free-parking-icon {
	font-size: 50px;
	font-family: 'Noto Color Emoji';
	margin-top: -20px;
	color: #0026FF;
}

.fa-free-parking-icon {
	font-size: 45px;
	color: #0026FF;
}

.bonus-header {
	margin-top: 8px;
	font-size: 14px;
}
.bonus-footer {
	margin-top: 5px;
	font-size: 14px;
}
.bonus-icon {
	font-size: 50px;
	font-family: 'Noto Color Emoji';
	margin-top: -10px;
}

.go-to-jail-container {
	position: absolute;
	bottom: 2px;
	left: 2px;
	width: 70px;
	height: 70px;
	align-items: center;
	justify-content: center;
	transform: rotate(225deg);
}
.go-to-jail-header {
	margin-top: 40px;
	font-size: 14px;
}
.go-to-jail-footer {
	font-size: 14px;
}
.fa-go-to-jail-icon {
	font-size: 45px;
	color: #640303;
	transform: rotate(240deg);
}

.go-to-jail-icon {
	font-size: 60px;
	font-family: 'Noto Color Emoji';
	margin-top: -55px;
	color: #0026FF;
}

.chance-icon {
	position: absolute;
	top: 35px;
	left: 0;
	width: 72px;
	height: 80px;
	line-height: 1;
	font-size: 50px;
	font-family: 'Noto Color Emoji';
}

.chance-icon-bak {
	position: absolute;
	top: 30px;
	left: 0;
	width: 72px;
	height: 80px;
	line-height: 1;
	font-size: 60px;
}

.community-chest-icon {
	position: absolute;
	top: 40px;
	left: 0;
	width: 72px;
	height: 80px;
	line-height: 1;
	font-size: 40px;
	font-family: 'Noto Color Emoji';
}

.electric-co-icon {
	position: absolute;
	top: 40px;
	left: 0;
	width: 72px;
	height: 80px;
	line-height: 1;
	font-size: 40px;
	color: #ffed20;
	font-family: 'Noto Color Emoji';
}

.water-works-icon {
	position: absolute;
	top: 40px;
	left: 0;
	width: 72px;
	height: 80px;
	line-height: 1;
	font-size: 40px;
	color: #5a6dba;
	font-family: 'Noto Color Emoji';
}

.income-tax-icon-bak {
	position: absolute;
	top: 40px;
	left: 0;
	width: 72px;
	height: 80px;
	line-height: 1;
	font-size: 25px;
}

.income-tax-icon1 {
	position: absolute;
	top: 22px;
	left: 0;
	width: 72px;
	height: 80px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	font-size: 50px;
	transform: scaleX(2);
}

.income-tax-icon {
	position: absolute;
	top: 30px;
	left: 0;
	width: 72px;
	height: 80px;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	font-size: 20px;
}

.income-tax-icon span {
	border: 1px solid black;
	padding: 2px;
}

.luxury-tax-icon {
	position: absolute;
	top: 30px;
	left: 0;
	width: 72px;
	height: 80px;
	line-height: 1;
	font-size: 45px;
	font-family: 'Noto Color Emoji';
}

.railroad-icon {
	position: absolute;
	top: 35px;
	left: 0;
	width: 72px;
	height: 80px;
	line-height: 1;
	font-size: 38px;
	font-family: 'Noto Color Emoji';
}

.income-tax-title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

.income-tax-glyph {
	margin-top: 8px;
	font-size: 25px;
	margin-bottom: 5px;
}

.magenta-chance-icon {
	color: #ff0080;
	filter: hue-rotate(-30deg);
}

.blue-chance-icon {
	color: #5a6dda;
	filter: hue-rotate(-150deg);
}

.red-chance-icon {
	color: #f01010;
}

.board-bottom {
	vertical-align: middle;
}

.cell-name {
	visibility: hidden;
}

.normal-cell-container {
	position: absolute;
	width: 72px;
	height: 102px;
    top: 50%;
	left: 50%;
	line-height: 102px;
	text-align: center;
}

.color-bar {
	position: absolute;
	width: 72px;
	height: 23px;
    top: 0;
	left: 0;
	border-bottom: 1px solid #080808;
}

.property-title {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
}

.property-price {
	position: absolute;
	top: 85px;
	left: 0;
	width: 72px;
	height: 17px;
	line-height: 1;
}

.cell-title {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	transform: translateY(-35px);
}

.mortgaged {
	position: absolute;
	padding: 5px;
	border: 2px solid red;
	color: red;
	background-color: white;
	top: 68px;
	left: 4px;
	width: 50px;
	height: 26px;
	text-align: center;
	line-height: 14px;
	font-weight: bold;
}
.mortgaged::before {
	content: "MORT-GAGED";
}

#enlarge .normal-cell-container {
	transform: translate(-36px, -51px) scale(2,2);
}

.corner-cell-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 102px;
	width: 102px;
}

#enlarge .corner-cell-container {
	transform: translate(21px, 21px) scale(1.42,1.42);
}

.board-bottom .normal-cell-container {
	transform: translate(-36px, -51px);
}

.board-left .normal-cell-container {
	transform: rotate(90deg) translate(-51px, 36px);
}

.board-top .normal-cell-container {
	transform: rotate(180deg) translate(36px, 51px);
}

.board-right .normal-cell-container {
	transform: rotate(270deg) translate(51px, -36px);
}

.house-mid {
	position: absolute;
	width: 21px;
	height: 25px;
}

.house-mid-roof {
	position: absolute;
	top: 0px;
	left: 1px;
	width: 19px;
	height: 25px;
	background-color: #267f00
}

.house-mid-chimney-1 {
	position: absolute;
	top: 10px;
	left: 9px;
	width: 3px;
	height: 5px;
	background-color: #549a36
}

.house-mid-chimney-2 {
	position: absolute;
	top: 11px;
	left: 8px;
	width: 5px;
	height: 3px;
	background-color: #549a36
}

.house-mid-chimney-3 {
	position: absolute;
	top: 11px;
	left: 9px;
	width: 3px;
	height: 3px;
	background-color: #aecfa0
}

.house-mid-ridge {
	position: absolute;
	top: 12px;
	left: 1px;
	width: 19px;
	height: 1px;
	background-color: #aecfa0
}

.house-right {
	position: absolute;
	width: 21px;
	height: 25px;
}

.house-right-roof {
	position: absolute;
	top: 0px;
	left: 1px;
	width: 19px;
	height: 25px;
	background-color: #267f00
}

.house-right-side-1 {
	position: absolute;
	top: 2px;
	left: 0px;
	width: 1px;
	height: 21px;
	background-color: #266d00
}

.house-right-side-2 {
	position: absolute;
	top: 6px;
	left: 1px;
	width: 1px;
	height: 13px;
	background-color: #266d00
}

.house-right-side-3 {
	position: absolute;
	top: 5px;
	left: 20px;
	width: 1px;
	height: 15px;
	background-color: #4b942b88
}

.house-right-side-4 {
	position: absolute;
	top: 7px;
	left: 20px;
	width: 1px;
	height: 11px;
	background-color: #267f00
}

.house-right-chimney-1 {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 3px;
	height: 5px;
	background-color: #549a36
}

.house-right-chimney-2 {
	position: absolute;
	top: 11px;
	left: 9px;
	width: 5px;
	height: 3px;
	background-color: #549a36
}

.house-right-chimney-3 {
	position: absolute;
	top: 11px;
	left: 10px;
	width: 3px;
	height: 3px;
	background-color: #aecfa0
}

.house-right-ridge {
	position: absolute;
	top: 12px;
	left: 2px;
	width: 19px;
	height: 1px;
	background-color: #aecfa0
}

.house-left {
	position: absolute;
	width: 21px;
	height: 25px;
}

.house-left-roof {
	position: absolute;
	top: 0px;
	left: 1px;
	width: 19px;
	height: 25px;
	background-color: #267f00
}

.house-left-side-1 {
	position: absolute;
	top: 5px;
	left: 0px;
	width: 1px;
	height: 15px;
	background-color: #4b942b88
}

.house-left-side-2 {
	position: absolute;
	top: 7px;
	left: 0px;
	width: 1px;
	height: 11px;
	background-color: #267f00
}

.house-left-side-3 {
	position: absolute;
	top: 2px;
	left: 20px;
	width: 1px;
	height: 21px;
	background-color: #266d00
}

.house-left-side-4 {
	position: absolute;
	top: 6px;
	left: 19px;
	width: 1px;
	height: 13px;
	background-color: #266d00
}

.house-left-chimney-1 {
	position: absolute;
	top: 10px;
	left: 8px;
	width: 3px;
	height: 5px;
	background-color: #549a36
}

.house-left-chimney-2 {
	position: absolute;
	top: 11px;
	left: 7px;
	width: 5px;
	height: 3px;
	background-color: #549a36
}

.house-left-chimney-3 {
	position: absolute;
	top: 11px;
	left: 8px;
	width: 3px;
	height: 3px;
	background-color: #aecfa0
}

.house-left-ridge {
	position: absolute;
	top: 12px;
	left: 0px;
	width: 19px;
	height: 1px;
	background-color: #aecfa0
}

.hotel-mid {
	position: absolute;
	width: 36px;
	height: 25px;
}

.hotel-mid-roof {
	position: absolute;
	top: 0px;
	left: 1px;
	width: 34px;
	height: 25px;
	background-color: #dd2407
}

.hotel-mid-chimney-1 {
	position: absolute;
	top: 10px;
	left: 16px;
	width: 3px;
	height: 5px;
	background-color: #cd3d24
}

.hotel-mid-chimney-2 {
	position: absolute;
	top: 11px;
	left: 15px;
	width: 5px;
	height: 3px;
	background-color: #cd3d24
}

.hotel-mid-chimney-3 {
	position: absolute;
	top: 11px;
	left: 16px;
	width: 3px;
	height: 3px;
	background-color: #db7667
}

.hotel-mid-ridge {
	position: absolute;
	top: 12px;
	left: 1px;
	width: 34px;
	height: 1px;
	background-color: #db7667
}

.hotel-right {
	position: absolute;
	width: 36px;
	height: 25px;
}

.hotel-right-roof {
	position: absolute;
	top: 0px;
	left: 1px;
	width: 34px;
	height: 25px;
	background-color: #dd2407
}

.hotel-right-side-1 {
	position: absolute;
	top: 2px;
	left: 0px;
	width: 1px;
	height: 21px;
	background-color: #cc1f08
}

.hotel-right-side-2 {
	position: absolute;
	top: 6px;
	left: 1px;
	width: 1px;
	height: 13px;
	background-color: #cc1f08
}

.hotel-right-side-3 {
	position: absolute;
	top: 5px;
	left: 35px;
	width: 1px;
	height: 15px;
	background-color: #cd3d2488
}

.hotel-right-side-4 {
	position: absolute;
	top: 7px;
	left: 35px;
	width: 1px;
	height: 11px;
	background-color: #dd2407
}

.hotel-right-chimney-1 {
	position: absolute;
	top: 10px;
	left: 17px;
	width: 3px;
	height: 5px;
	background-color: #cd3d24
}

.hotel-right-chimney-2 {
	position: absolute;
	top: 11px;
	left: 16px;
	width: 5px;
	height: 3px;
	background-color: #cd3d24
}

.hotel-right-chimney-3 {
	position: absolute;
	top: 11px;
	left: 17px;
	width: 3px;
	height: 3px;
	background-color: #db7667
}

.hotel-right-ridge {
	position: absolute;
	top: 12px;
	left: 2px;
	width: 34px;
	height: 1px;
	background-color: #db7667
}

.hotel-left {
	position: absolute;
	width: 36px;
	height: 25px;
}

.hotel-left-roof {
	position: absolute;
	top: 0px;
	left: 1px;
	width: 34px;
	height: 25px;
	background-color: #dd2407
}

.hotel-left-side-1 {
	position: absolute;
	top: 5px;
	left: 0px;
	width: 1px;
	height: 15px;
	background-color: #cd3d2488
}

.hotel-left-side-2 {
	position: absolute;
	top: 7px;
	left: 0px;
	width: 1px;
	height: 11px;
	background-color: #dd2407
}

.hotel-left-side-3 {
	position: absolute;
	top: 2px;
	left: 35px;
	width: 1px;
	height: 21px;
	background-color: #cc1f08
}

.hotel-left-side-4 {
	position: absolute;
	top: 6px;
	left: 34px;
	width: 1px;
	height: 13px;
	background-color: #cc1f08
}

.hotel-left-chimney-1 {
	position: absolute;
	top: 10px;
	left: 15px;
	width: 3px;
	height: 5px;
	background-color: #cd3d24
}

.hotel-left-chimney-2 {
	position: absolute;
	top: 11px;
	left: 14px;
	width: 5px;
	height: 3px;
	background-color: #cd3d24
}

.hotel-left-chimney-3 {
	position: absolute;
	top: 11px;
	left: 15px;
	width: 3px;
	height: 3px;
	background-color: #db7667
}

.hotel-left-ridge {
	position: absolute;
	top: 12px;
	left: 0px;
	width: 34px;
	height: 1px;
	background-color: #db7667
}

/* From https://codesandbox.io/s/react-css-grid-dice-cly4v?from-embed */
.die-face {
	display: grid;
	grid-template-areas:
		"a . c"
		"e g f"
		"d . b";
	flex: 0 0 auto;
	padding: 2px;
	width: 40px;
	height: 40px;
	background-color: #e7e7e7;
	border-radius: 10%;
}

.pip {
	display: block;
	align-self: center;
	justify-self: center;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #333;
}

.pip:nth-child(2) {
	grid-area: b;
}
.pip:nth-child(3) {
	grid-area: c;
}
.pip:nth-child(4) {
	grid-area: d;
}
.pip:nth-child(5) {
	grid-area: e;
}
.pip:nth-child(6) {
	grid-area: f;
}
.pip:nth-child(odd):last-child {
	grid-area: g;
}
.pawn {
	position: absolute;
	top: 615px;
	left: 162px;
	width: 48px;
	height: 84px;
	display: none;
}

#player-up-html {
	position: absolute;
	top: 710px;
	left: 125px;
	width: 120px;
	height: 40px;
	text-align: center;
	display: none;
}

#game-general-alert {
	position: absolute;
	top: 615px;
	left: 235px;
	width: 500px;
	height: 84px;
	line-height: 84px;
	font-size: x-large;
	text-align: center;
	display: none;
}

#game-general-alert span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#game-player-action {
	position: absolute;
	bottom: 190px;
	top: auto;
	left: 235px;
	width: 500px;
	min-height: 100px;
	line-height: 100px;
	font-size: x-large;
	text-align: center;
	border-radius:10px;
	border: 1px solid #cccccc;
	box-shadow: 2px 2px 5px #cccccc;
	background-color: white;
	display: none;
}

#game-player-action-border {
	border: 5px solid red;
	border-radius:10px;
	box-sizing: border-box;
}

#game-player-action-html {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#game-player-action input {
	font-size: x-large;
}

#setup-buttons {
	position: absolute;
	top: 560px;
	left: 0px;
	right: 0px;
	width: 500px;
	height: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#game-buttons {
	position: absolute;
	top: 710px;
	left: 235px;
	width: 500px;
	height: 40px;
	text-align: center;
	display: none;
	z-index: 99;
}

.board-button {
	font-size: x-large;
}

.pawn-container {
  display:flex;
  flex-direction:column;
  align-items:center;
  transform: translate(0, -50%) scale(.25, .25) translate(0, 50%);
}

.pawn-head {
  height:100px;
  width:100px;
  background-color:black;
  display:flex;
  position:relative;
  border-radius:50%;
}

.pawn-head-glare{
  height:20px;
  width:10px;
  background-color:white;
  position:absolute;
  right:20px;
  top:20px;
  transform:rotate(-30deg);
  border-radius:50%;
}

.pawn-main{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.pawn-neck{
  height:15px;
  width:50px;
  background-color:black;
  border-radius:10px;
  border:3px solid transparent;
  margin-top:-5px;
  margin-bottom:-2px;
}

.pawn-shoulders {
  height:20px;
  width:80px;
  background-color:black;
  border-top-left-radius:25px;
  border-top-right-radius:25px;
  margin-bottom:0px;
}

.pawn-torso{
  width:100px;
  height:140px;
  background-color:black;
  position:relative;
}

.pawn-torso-glare{
  position:absolute;
  background-color:white;
  border-radius:50%;
  width:5px;
  height:90px;
  top:30px;
  left:80%;
  transform:rotate(-10deg);
  
}

.pawn-torso::before{
  content:'';
  display:block;
  height:150px;
  width:50px;
  background-color:white;
  border-radius:30px;
  position:absolute;
  transform:rotate(10deg);
  left:-40%;
  top:-5%;
}

.pawn-torso::after{
  content:'';
  display:block;
  height:150px;
  width:50px;
  background-color:white;
  border-radius:20px;
  position:absolute;
  transform:rotate(-10deg);
  right:-40%;
  top:-5%;
}

.pawn-legs{
  background-color:black;
  width:180px;
  height:60px;
  border-top-right-radius:40px;
  border-top-left-radius:40px;
  position:relative;
}

.pawn-legs-glare{
  position:absolute;
  background-color:white;
  border-radius:50%;
  width:5px;
  height:25px;
  top:10px;
  left:87%;
  transform:rotate(-45deg);
}
